.tip-container{
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: $very-dark-cyan;
    font-family: $text-font;
    div{
        width: 100%;
        display: flex;
        margin: .7rem auto;
        div{
            display: flex;
            flex-direction: column;
            width: 50%;
            h2{
                color: $white;
                font-size: .8rem;
            }
            p{
                color: $grayish-cyan;
                font-size: .6rem;
            }
        }
        .amount{
            width: 50%;
            color: $strong-cyan;
            font-size: 1.5rem;
            text-align: right;
        }
    }
    button{
        position: relative;
        top: calc(15% - 1px);
        border-style: none;
        border-radius: 5px;
        padding:.7rem .5rem;
        width: 100%;
        background-color: $strong-cyan;
        color: $very-dark-cyan;
        font-family: $text-font;
        font-size: .8rem;
        margin: 0 auto;

    }
    .disabled{
        color: $very-dark-cyan;
        background-color: $cancel-bg;
    }
    
    @media(min-width: 425px){
        width: 400px;
        margin: 0 .5rem;
    }

}