@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Space+Mono:wght@700&display=swap');

//Colors -------------------------------------
$very-dark-cyan: hsl(183, 100%, 15%);
$cancel-bg:rgb(13 104 109);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$strong-cyan: hsl(172, 67%, 45%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//Fonts --------------------------------------
$text-font : 'Space Mono', monospace;
